<!--- Styles -->
<style>
  :root{
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }
</style>
<!--- / -->

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title>Tasa de Cambio / Estatus</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <!-- -->
  <ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
      <ion-item>
        <ion-label>
          <p><strong>Fecha Actual:</strong>
            {{currentRateDate}}        
            </p>
            <p><strong>Fecha Ultima Tasa:</strong>{{lastRate.date}}</p>
            <p><strong>Tasa:</strong> {{lastRate.rate}} </p>
          </ion-label>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll  id="infinite-scroll">
    <div *ngFor="let whArray of GroupedWarehouses; index as i">
        <!-- <a > -->
        <ng-container *ngFor="let wh of whArray; index as j">
          <ion-chip  *ngIf="wh.date == currentRateDate; else noactualizado" outline color="success">
            <ion-icon  name="restaurant" size="large"></ion-icon>        
            <ion-label>{{wh.id}} </ion-label>
          </ion-chip>
          <ng-template #noactualizado>
            <ion-chip outline color="warning">
              <ion-icon name="restaurant-outline" size="large"></ion-icon>
              <ion-label>{{wh.id}} </ion-label>
            </ion-chip>
          </ng-template>  
        </ng-container>
        <!--</a>-->
      </div>
    </ion-infinite-scroll>

  </ion-content>
</ion-content>