<ion-content>
   <ion-header translucent="true">
      <ion-toolbar>
        <ion-title>Manage Excluded Restaurants</ion-title>
        <ion-buttons slot="start">
           <ion-menu-button autoHide="true"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

   <form (ngSubmit)="onSubmit()">
      <ion-card>
         <ion-card-title mode="md">Excluir Restaurantes de Actualizacion de Tasa</ion-card-title>
         <ion-card-header>Tasa USD para Ventas en cadena de Restaurantes</ion-card-header>      
         <ion-card-content>
            <ion-list>
               <ion-item>
                  <ion-label>Restaurante a Excluir</ion-label>
                  <ion-input type="text" [(ngModel)]="excludedRest" name="txtRate"></ion-input>
               </ion-item>
            </ion-list>
         </ion-card-content>
      </ion-card>

      <div class="ion-padding">
         <ion-button expand="block" type="submit" class="ion-no-margin">Excluir</ion-button>
      </div>
   </form>

   <!-- Warehouses -->
   <ion-infinite-scroll  id="infinite-scroll">
   <div *ngFor="let whArray of GroupedWarehouses; index as i">
      <!-- <a > -->
      <ng-container *ngFor="let wh of whArray; index as j">
        <ion-chip  *ngIf="wh.date == currentRateDate; else noactualizado" outline color="success">
          <ion-icon  name="restaurant" size="large"></ion-icon>        
          <ion-label>{{wh.id}} </ion-label>
        </ion-chip>
        <ng-template #noactualizado>
          <ion-chip outline color="warning">
            <ion-icon name="restaurant-outline" size="large"></ion-icon>
            <ion-label>{{wh.id}} </ion-label>
          </ion-chip>
        </ng-template>  
      </ng-container>
      <!--</a>-->
    </div>
   </ion-infinite-scroll>
</ion-content>