<ion-content [fullscreen]="true">

   <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
   </ion-refresher>

   <ion-header translucent="true">
      <!-- Title Page -->
      <ion-toolbar>
        <ion-title size="large">Excluir Restaurantes</ion-title>
        <ion-buttons slot="start">
           <ion-menu-button autoHide="true"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
      <!-- / Title Page -->
   </ion-header>

   <form (ngSubmit)="onSubmit()">
      <ion-card>
         <ion-card-title>Excluir Restaurantes de Actualizacion de Tasas</ion-card-title>
         <ion-card-content>
            <ion-list>
               <ion-item>
                  <ion-label>Restaurante a Excluir:</ion-label>
                  <ion-input type="text" style="float: right;" [(ngModel)]="excludedRest" name="txtRate"></ion-input>
               </ion-item>
            </ion-list>
         </ion-card-content>
      </ion-card>

      <div class="ion-padding">
         <ion-button expand="block" type="submit" class="ion-no-margin">Excluir</ion-button>
      </div>
   </form>

   <ion-infinite-scroll  id="infinite-scroll">
      <div *ngFor="let whArray of GroupedWarehouses; index as i">
      <!-- <a >-->
      <ng-container *ngFor="let wh of whArray; index as j">
         <ion-chip>
            <ion-icon  name="restaurant" size="large"></ion-icon>
            <ion-label>{{wh.id}}</ion-label>
         </ion-chip>
      </ng-container>
      <!--</a>-->
      </div>
   </ion-infinite-scroll>

</ion-content>
<!---->