ion-toolbar {
    --color: #ffffff;
    --background: #fe5000;
    --border-color: #141414;
    --border-width: 1px;
}

/*
--background
--border-color
--border-style
--border-width
--color
--min-height
--opacity
--padding-bottom
--padding-end
--padding-start
--padding-top
*/