<!-- Options Menu Global -->
<ion-app>
  <ion-menu contentId="contentHome" side="start">
    <!--Title Content Menu-->
    <ion-header>
      <ion-toolbar>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <!--List Content Menu-->
    <ion-content>
       <ion-list>
          <ion-item>
            <ion-menu-toggle>
               <ion-label [routerLink]="['/member/add']">Añadir Tasa</ion-label> 
            </ion-menu-toggle>
          </ion-item>
          <ion-item>
            <ion-menu-toggle>
               <ion-label [routerLink]="['/exclude-rest']">Excluir Restaurantes</ion-label> 
            </ion-menu-toggle>
          </ion-item>
          <ion-item>
            <ion-menu-toggle>
               <ion-label [routerLink]="['/status']">Consultar Estatus de Replicación</ion-label>
            </ion-menu-toggle>
          </ion-item>          
          <ion-item>
            <ion-menu-toggle>
               <ion-label (click)="logout()" >Cerrar Sesión</ion-label>
            </ion-menu-toggle>
          </ion-item>
       </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="contentHome"></ion-router-outlet>
</ion-app>
